@import "./index.scss";

.center {
    .header {
        height: 60px;
        background-color: $main-color;
        padding: 0 40px;
        h2 {
            color: white;
        }
        span, a {
            font-size: 15px;
            margin-left: 10px;
            color: white;
        }
        a {
            margin-left: 10px;
        }
    }
}