$main-color: #69bd3c;
$minor-color: #333333;
$line-color: #eeeeee;

$justify-config: (flex-start, center, flex-end, space-between, space-around);
$align-config: (flex-start, center, flex-end, stretch, baseline);
$wrap-config: (wrap, nowrap);
$flex-direction: (row, column);

.flex {
    display: flex;
    display: -webkit-flex;
}

@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

%hr {
    background-color: $line-color;
    height: 1px;
    border: none;
}

%pointer {
    cursor: pointer;
}

@each $justify in $justify-config {
    .justify-#{$justify} {
        @include prefix(justify-content, $justify);
    }
}
@each $align in $align-config {
    .align-#{$align} {
        @include prefix(align-items, $align);
    }
}
@each $wrap in $wrap-config {
    .flex-#{$wrap} {
        @include prefix(flex-wrap, $wrap);
    }
}

@each $rc in $flex-direction {
    .flex-#{$rc} {
        @include prefix(flex-direction, $rc);
    }
}

p, h1, h2 {
    margin: 0;
}

.flex-1 {
    @include prefix(flex, 1);
}