@import "./index.scss";
.login {
    height: 100vh;
    .login-img {
        background: url(../img/bk.jpg);
        background-size: cover;
    }
    .login-con {
        width: 450px;
        background-color: white;
        padding: 50px;
        text-align: center;
        p {
            font-size: 25px;
            color: $minor-color;
            font-weight: bold;
        }
        input {
            height: 35px;
            margin-top: 30px;
        }
        button {
            width: 100%;
            height: 40;
            margin-top: 30px;
            border-color: $main-color;
            color: $main-color;
        }
        button:hover {
            background-color: $main-color;
            color: white;
        }
        input:hover {
            border-color: $main-color;
        }
    }
}