@import "./index.scss";

.search-result {
    padding: 50px 120px;
    .header {
        .ant-input {
            width: 400px;
        }    
    }
    .body {
        @include prefix(flex-shrink, 0);
        .ant-card-cover {
            img {
                width: 198px;
                height: 198px;
            }
        }
        .food-con {
            //240 332
            width: 200px;
            height: 311px;
            margin-top: 50px;
        }
    }
    .empty {
        width: 398px;
        height: auto;
        display: block;
        margin: 50px auto 0 auto;
    }
}