@import "./index.scss";

.user {
    .ant-carousel .slick-slide {
        text-align: center;
        height: 400px;
        overflow: hidden;
        h3 {
            color: #fff;
        }
        .banner {
            width: 100%;
            height: 400px;
            background: url(../img/banner.jpg);
            background-size: cover;
            position: relative;
            h1 {
                color: white;
                line-height: 400px;
                text-align: center;
            }
            .search-con {
                width: 400px;
                background-color: white;
                position: absolute;
                bottom: 70px;
                left: 50%;
                @include prefix(transform, translateX(-50%));
            }
        }
    }
    
    .body {
        padding: 0 30px;
        .ant-divider {
            margin: 32px 0;
            font-size: 20px;
        }
        .star-con {
            margin-top: -38px;
            .star-list {
                margin-top: 70px;
                .star-title {
                    font-size: 16px;
                    color: $minor-color;
                    font-weight: bold;
                }
                .star-kcal {
                    font-size: 15px;
                    color: #666666;
                    margin-top: 10px;
                }
                .star-remark {
                    font-size: 14px;
                    color: rgba(0,0,0,.65);
                    margin-top: 15px;
                }
                img {
                    width: 120px;
                    height: 120px;
                    @include prefix(border-radius, 120px);
                    @extend %pointer;
                    margin-left: 20px;
                }
            }
        }
        .taboo-list, category-recommon {
            @include prefix(flex-shrink, 0);
        }
        .category-recommon {
            margin-top: -32px;
            .category {
                width: 100%;
                font-size: 15px;
                color: $minor-color;
                i {
                    font-size: 35px;
                    margin-bottom: 5px;
                }
                @extend %pointer;
            }
        }
        .taboo-list {
            .ant-card-cover {
                img {
                    width: 238px;
                    height: 238px;
                }
            }
        }
    }

    .footer {
        margin-top: 50px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: $minor-color;
        background-color: #eeeeee;
    }
}